name: tests
on: push
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - action: actions/checkout@v4
      - name: Install dependencies
        run: npm ci
      - name: Run tests with coverage
        run: npm test -- --coverage
    
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: success()